name: CI

on: [push]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        node: [12]

    steps:
    - uses: actions/checkout@v1
    - name: Install dependencies
      run: |
        export CXXFLAGS="-fno-exceptions -O3 -mavx -maes -msse4"
        yarn install --frozen-lockfile
    - name: Build module
      run: |
        export CXXFLAGS="-fno-exceptions -O3 -mavx -maes -msse4"
        yarn build
    - name: Test module
      run: yarn test
